<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomo.auth.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.xiaomo.auth.pojo.UserInfo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="IS_DEL" jdbcType="BIT" property="isDel" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_IPHONE" jdbcType="VARCHAR" property="userIphone" />
    <result column="USER_AGE" jdbcType="INTEGER" property="userAge" />
    <result column="USER_BIRTHDAY" jdbcType="DATE" property="userBirthday" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="SCHOOL_ID" jdbcType="BIGINT" property="schoolId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NAME, PASSWORD, REAL_NAME, ADDRESS, STATUS, IS_DEL, USER_EMAIL, USER_IPHONE, 
    USER_AGE, USER_BIRTHDAY, CREATE_TIME, UPDATE_TIME, SCHOOL_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_USER_INFO
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_USER_INFO
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaomo.auth.pojo.UserInfo">
    insert into SYS_USER_INFO (ID, USER_NAME, PASSWORD, 
      REAL_NAME, ADDRESS, STATUS, 
      IS_DEL, USER_EMAIL, USER_IPHONE, 
      USER_AGE, USER_BIRTHDAY, CREATE_TIME, 
      UPDATE_TIME, SCHOOL_ID)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=BIT}, #{userEmail,jdbcType=VARCHAR}, #{userIphone,jdbcType=VARCHAR}, 
      #{userAge,jdbcType=INTEGER}, #{userBirthday,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{schoolId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaomo.auth.pojo.UserInfo">
    insert into SYS_USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="realName != null">
        REAL_NAME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="isDel != null">
        IS_DEL,
      </if>
      <if test="userEmail != null">
        USER_EMAIL,
      </if>
      <if test="userIphone != null">
        USER_IPHONE,
      </if>
      <if test="userAge != null">
        USER_AGE,
      </if>
      <if test="userBirthday != null">
        USER_BIRTHDAY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="schoolId != null">
        SCHOOL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userIphone != null">
        #{userIphone,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaomo.auth.pojo.UserInfo">
    update SYS_USER_INFO
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        IS_DEL = #{isDel,jdbcType=BIT},
      </if>
      <if test="userEmail != null">
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userIphone != null">
        USER_IPHONE = #{userIphone,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        USER_AGE = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userBirthday != null">
        USER_BIRTHDAY = #{userBirthday,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="schoolId != null">
        SCHOOL_ID = #{schoolId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaomo.auth.pojo.UserInfo">
    update SYS_USER_INFO
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      IS_DEL = #{isDel,jdbcType=BIT},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_IPHONE = #{userIphone,jdbcType=VARCHAR},
      USER_AGE = #{userAge,jdbcType=INTEGER},
      USER_BIRTHDAY = #{userBirthday,jdbcType=DATE},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      SCHOOL_ID = #{schoolId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>